:root {
   --background  : #F7F0EA;    /*Cream */
	 --main        : #273c75;    /*Blue */
   --secondary   : #E1AD21;    /*Yellow */
}

/* Custom theme by Darkun7 */
.pkp_head_wrapper{
	width: auto !important;
}
#navigationUser{
	margin-right: 50%;
    background-color: var(--secondary) !important;
    border-radius: 50px;
    padding-right: 10px;
	max-width: 150px;
}
#navigationUser a{
	text-align: left !important;
	color: var(--main);
}
#navigationUser a span{
	color: #fff;
}

.pkp_brand_footer {
    background: none !important;
}

@media only screen and (min-width: 360px) {
	.pkp_navigation_user{
		max-width: 150px !important;
        margin-right: 10% !important;
	}
	#navigationUser{
		margin-top: 20px;
    }
    .pkp_site_name{
        margin-left: 5% !important;
    }
}

@media only screen and (min-width: 85.375em) {
	#navigationUserWrapper{
		/*margin-right: 25%;*/
	}
}

/* NEW FRAME */
body{
	/* white */
	background: url("https://raw.githubusercontent.com/darkun7/ojs-theme/main/asset/pattern_japs.png");
	background:
	linear-gradient(
		180deg,
		rgba(39,60,117,1) 130px,
		rgba(225,173,33,1) 130px,
		rgba(225,173,33,1) 170px,
		rgba(255,255,255,0.1) 170px,
		rgba(255,255,255,0.1) 100%),
		url("https://raw.githubusercontent.com/darkun7/ojs-theme/main/asset/pattern_japs.png") !important;
}
.pkp_structure_page{
	max-width: 1200 !important;
	margin: 0px auto 25px auto !important;
	box-shadow: none !important;
}
.pkp_head_wrapper{
	margin: 0px !important;
}
.pkp_site_name{
  margin-left: 0px !important;
}
.pkp_structure_footer_wrapper{
	background: rgb(255,255,255);
	background: linear-gradient(180deg, var(--background) 75%, rgba(221,221,221,1) 100%) !important;
}
.pkp_structure_footer_wrapper{
	border-radius: 0 0 20px 20px;
}

/* SUBMISSION BUTTON */

a.block_make_submission_link{
	padding: 5px 46px !important;
}
a.block_make_submission_link:hover{
	color: var(--secondary) !important;
}

/* Side Block */
.block-head {
	text-transform: capitalize;
	display: block;
	padding: 10px 5px !important;
	text-align: center;
	color: white;
	text-decoration: none;
}
.side-block {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: var(--main);
}

.side-block li {
	border-bottom: 8px var(--background) solid;
}

.side-block a {
	display: block;
	padding: 5px;
	text-align: center;
	color: white;
	text-decoration: none;
}

.current_issue h2 {
    display: inline-block;
    padding-bottom: 0.5em;
    border-bottom: 3px solid #f7bc4a;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
}
.pkp_structure_head {
    background-image: none!important;
}
.pkp_site_name .is_text{
   color:#ffffff;
}
.pkp_navigation_primary_wrapper {
    background-color: var(--secondary);
}
.pkp_navigation_primary_row {
    background: var(--secondary);
}
#pkp_content_nav{
		background: var(--secondary);
}

/* Main Background */
.pkp_structure_page,
.pkp_structure_content,
.pkp_block
{
	background-color: var(--background) !important;
}
