:root {
    --biru   : #00A8D8;
    --kuning : #F9A936;
}

.pkp_site_name {padding-top: 0 !important; padding-bottom: 0 !important}
.pkp_site_name > a {padding-top: 0; padding-bottom: 0;}
.pkp_site_name .is_img img {max-height: 200px !important;}
.pkp_site_name_wrapper {padding-left: 0; padding-right: 0;}
.pkp_navigation_user_wrapper {top: 0; right: 0; padding-right:30px;}
.pkp_structure_page {margin-top:  20px !important; margin-bottom:20 !important; padding-bottom: 20 !important;}
.pkp_block{border-bottom: 1px solid #e3e3e3;}
#customblock-menukanan .content p:nth-child(10){border-bottom: 1px solid #e3e3e3;}

/* Custom Theme by Darkun7 */
/* SUBMISSION BUTTON */
a.block_make_submission_link{
	padding: 5px 46px !important;
}


/* MISC */
.image-tools{
  max-width: 120px;
  margin: 0 auto;
}

.pkp_block .content p,
.pkp_block .content ul,
.pkp_block .content a{
  text-decoration: none;
  text-align: center;
  color: white;
  display: block;
}

.pkp_block .content ul,
.pkp_block .content p{
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  margin-top: 0px;
  padding: 4px;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  margin-bottom: 2px;
  background: var(--biru);
  color: white;
  font-weight: bold;
}

.pkp_block .content ul:hover,
.pkp_block .content p:hover{
  background: var(--kuning);
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-weight: 700;
/* border-left: 2px solid var(--sekunder); */
}

.pkp_block .content ul:first-child,
.pkp_block .content p:first-child{
  padding: 10px;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  margin-bottom: 2px;
  background: var(--kuning);
  color: white;
  border-radius: 3px;
  box-shadow: inset 0 -1em 1em rgba(0,0,0,0.1);
}

.image-index{
  max-height: 45px;
  width: auto;
  padding: 3px;
  border: 2px solid var(--kuning);
  margin: 3px 3px;
  background-color: white;
  -moz-box-shadow: 3px 3px 3px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 3px 3px 3px rgba(68, 68, 68, 0.6);
  box-shadow: 3px 3px 3px rgba(68, 68, 68, 0.6);
}

.image-tools{
  max-width: 120px;
  margin: 0 auto;
}
